<div class="card border-primary mb-3">
    <div class="card-header">View To Component</div>
    <div class="card-body">
      <h5 class="card-title" [class.text-success]="check" >Event Binding</h5>
        <button type="button" class="btn btn-primary" (click)="onClickMe($event)">Click me</button>
        <button type="button" class="btn btn-primary ml-2" (dblclick)="onDblClickme($event)">Double click me</button>
        <button type="button" class="btn btn-primary ml-2" (click)="count = count + 1">Plus</button>
        <h1>{{count}}</h1>

        <div class="form-group">
            <h2>{{username}}</h2>
          <label for="">Username</label>
          <input type="text"
            class="form-control" name="" id="" aria-describedby="helpId" placeholder="" (keyup)="onKeyUp($event)">
        </div>


        <div class="form-group">
          <label for="">Result : {{name}}</label>
          <input type="text"
            class="form-control" name="" id="" aria-describedby="helpId" placeholder="" (keyup.enter)="onKeyUpEnter($event)">
        </div>
    </div>
  </div>
  