<div class="card border-primary mb-3">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">MyInfo</h5>
    <h6>Name{{name}}</h6>
    <h6>Age{{obj.age}}</h6>
    <h6>Like Film: {{ obj.likegame ? "yes" : "no" }}</h6>
    <h5 class="card-title">Property Binding</h5>
    <h6>
      <img [src]="src" [alt]="'anh dep'" width="200px">
      <button [disabled]="check" class="btn btn-primary">Check</button>
    </h6>
    <h5 class="card-title" [attr.border]="border" >Attr Binding</h5>
    <h5 class="card-title" [class.text-success]="check" >Class Binding</h5>
    <h5 class="card-title" [style.font-size]="fontSize > 0 ? '20px' : '10px'" >Style Binding</h5>
      
  </div>
</div>
